@{
    var questions = ViewBag.questions as WebClient.DTO.QuestionDTO;

}
<div class="row">
    <div class="mb-3">
        <a href="@Url.Action("Index", "Question")" class="text-decoration-none d-flex align-items-center text-dark" onclick="if (confirm('Dữ liệu sẽ không được lưu, bạn có muốn tiếp tục ?')) return true;">
            <i class="bi bi-arrow-left-short" style="font-size: 3rem;"></i>
            <span class="ms-4 font-weight-bold">Add question</span>
        </a>
    </div>
</div>

<div class="container mt-4">
    <h1>Update Question</h1>

    <form asp-action="UpdateQuestion" method="post">
        <div class="card mb-3">
            <div class="card-body">
                <div class="form-group">
                    <label for="QuestionText">Question Text</label>
                    <input type="text" class="form-control" id="QuestionText" name="Text" value="@questions.Text" required>
                    <input type="hidden" name="questionid" value="@questions.QuestionId" />
                </div>

                @foreach (var image in questions.Images)
                {
                    <img src="@image.Link" style="max-width: 100px; max-height: 100px;">
                }

                @for (int i = 0; i < questions.Answers.Count; i++)
                {
                    <div class="form-group">
                        <input type="hidden" class="form-control answer-text" name="answerId@(i+1)" value="@questions.Answers.ToList()[i].AnswerId">

                        <label for="Answer@(i+1)">Answer @(i + 1)</label>
                        <input type="text" class="form-control answer-text" id="Answer@(i+1)" name="answer@(i+1)" value="@questions.Answers.ToList()[i].AnswerText">
                        <input type="radio" name="CorrectAnswerIndex" value="@i" class="correct-answer" @(questions.Answers.ToList()[i].IsCorrect ? "checked" : "")> Đúng
                    </div>
                }
                @for (int i = questions.Answers.Count; i < 4; i++)
                {
                    <div class="form-group">
                        <label for="Answer@(i+1)">Answer @(i+1)</label>
                        <input type="text" class="form-control answer-text" id="Answer@(i+1)" name="answer@(i+1)" placeholder="Đáp án @(i+1)">
                        <input type="radio" name="CorrectAnswerIndex" value="@i" class="correct-answer"> Đúng
                    </div>
                }

                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
</div>