@{
    var questions = ViewBag.questions as List<WebClient.DTO.QuestionDTO>;

}


<div class="container mt-4">
    <h1>Questions</h1>
    <a href="@Url.Action("AddQuestion", "Question")" class="btn btn-primary">Add question</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Text</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in questions)
            {
                <tr>
                    <td>@question.QuestionId</td>
                    <td>@question.Text</td>
                    <td>
                        <a href="@Url.Action("Detail", "Question", new { id = question.QuestionId })" class="btn btn-primary"> Detail</a>
                        <a href="javascript:void(0);" onclick="deleteQuestion(@question.QuestionId)" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    function deleteQuestion(questionId) {
        if (confirm("Bạn có chắc chắn muốn xóa không ?")) {
            $.ajax({
                url: `http://localhost:5275/api/Question/getQuestionInExam`,
                type: 'GET',
                data: { id: questionId },
                success: function (response) {
                    if (response && response.length > 0) {
                        alert("Câu hỏi này đang nằm trong 1 exam, không thể xóa");
                    } else {
                        $.ajax({
                            url: `http://localhost:5275/api/Question/${questionId}`, 
                            type: 'DELETE',
                            success: function () {
                                alert("Question deleted successfully.");
                                location.reload(); 
                            },
                            error: function () {
                                alert("Error deleting the question.");
                            }
                        });
                    }
                },
                error: function () {
                    alert("Error checking if the question is part of an exam.");
                }
            });
        }
    }
</script>